@using GameResourcePlanner.Data
@using GameResourcePlanner.Pages

<div class="popup-overlay">
    <div class="popup-container">
        <h2>Select a Recipe</h2>

        @*Table*@
        <div class="container">
            <div class="row p-0">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Mixer Machine
                </div>
            </div>
            <div class="row p-0">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <b>Inputs:</b>
                </div>
                <div class="col-2">
                </div>
                <div class="col">
                    <b>Outputs:</b>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    1 Dirt
                </div>
                <div class="col-2">
                </div>
                <div class="col">
                    1 Awesomeness
                </div>
            </div>
            <div class="row">
                <div class="col">
                    1 Cobblestone
                </div>
                <div class="col-2">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    1 Gravel
                </div>
                <div class="col-2">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row p-0">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Total: 600 EU
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Voltage: 2 EU/t
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Time: 15 secs
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p></p>
                </div>
            </div>


        </div>


        <div class="new-recipe">
            <button @onclick="ClosePopup" type="button" class="btn btn-outline-primary"><i class="oi oi-action-undo"></i> Back To Seach</button>
            <button @onclick="AddNewRecipe" type="button" class="btn btn-primary">Add New Recipe</button>
            <button @onclick="ClosePopup" type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public List<Recepie> Recipes { get; set; }
    [Parameter] public EventCallback<Recepie> RecipeSelected { get; set; }
    [Parameter] public EventCallback<string> NewRecipeAdded { get; set; }

    private string searchText = string.Empty;
    private List<Recepie> filteredRecipes;
    private string newRecipeName = string.Empty;

    private void AddNewRecipe()
    {
        
    }

    private void ClosePopup()
    {
        searchText = string.Empty;
        RecipeSelected.InvokeAsync(null);
    }
}